.container {
    width: 80%;
    display: flex;
    margin: 20px 10%;
    flex-direction: column;
}

.myInput{
    flex: 9;
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px 5px;
}

.myButton{
    flex:1;
    display: inline-block;
    background-color: #fff;
    color: #222222;
    border: 1px solid #cccccc;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 2%;
}


.noteContainer {
    list-style-type: none;
    border-left:3px solid aquamarine;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid aquamarine;
    margin-top: 5px;
    margin-left: -40px;
}

.titleContainer{
    padding: 10px 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    background-color: azure;
    margin-bottom: 10px;
    border-radius: 10px;
}
.titleStyle{
    font-size: 28px;
    font-weight: bold;
}
.groupNum{
    background-color: #F9FAFC;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.contentContainer{
    width: 93%;
    float: left;
    display: flex;
    flex-direction: row;
}
.contentText{
    font-size: 14px;
    float: left;
}