.container {
    width: 80%;
    display: flex;
    margin: 20px auto;
    background-color: #F9FAFC;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.todoInput {

}

.todoButton {
    margin-left: 40px;
}

.notesContainer{
    width: 50%;
}